@import "tailwindcss";

@theme{
  --color-primary: #586E9A;
  --color-secondary: #45435C;
  --color-accent: #857372;
  --color-light: #F3F2F3;
  --color-dark: #45383F;
  --gradient-from: #45435C;
  --gradient-to: #586E9A;
}